table,
th,
tr,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
}

th,
td {
    padding: 10px;
}

thead tr {
    background-color: chartreuse;
}

tbody tr {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: rgba(172, 172, 172, 0.603);
}

tbody tr:hover {
    background-color: rgb(0, 255, 234);
}